@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #FAFAFA;

  --primary: #4F46E5;
  --primary-foreground: #FFFFFF;

  --card: #111111;
  --card-foreground: #FAFAFA;

  --muted: #1A1A1A;
  --muted-foreground: #A1A1AA;

  --border: #27272A;
  --accent: #818CF8;
}

.dark {
  --background: #050505;
  --foreground: #FAFAFA;

  --primary: #4F46E5;
  --primary-foreground: #FFFFFF;

  --card: #111111;
  --card-foreground: #FAFAFA;

  --muted: #1A1A1A;
  --muted-foreground: #A1A1AA;

  --border: #27272A;
  --accent: #818CF8;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s, color 0.5s;
  font-family: var(--font-sans, 'Geist Sans', sans-serif);
}
